/* FONTS  */

@font-face {
    font-family: RedHat;
    src: url(../../assets/fonts/RedHatDisplay-VariableFont_wght.ttf);
}

/* MAIN STYLE */

a {
    text-decoration: none !important;
}

body {
    color: black;
    margin: 0;
    font-family: RedHat;
    position: relative;
}

.error {
    text-align: center;
    color: red;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

/* NAVBAR */

nav {
    position: fixed;
    width: 100vw;
    /* GLASS CSS */
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.7px);
    -webkit-backdrop-filter: blur(13.5px);
    height: 3.5rem;
}

.cart-logo {
    width: 1.4rem;
    position: fixed;
    right: 2rem;
    top: 1rem;
}

.cart-link::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content:'2';
    font-weight: bold;
    font-size: 0.6rem;
    width: 12px;
    background-color: darkred;
    border-radius: 100%;
    color: white;
    position: absolute;
    padding: 0.2rem;
    top:5px;
    right:19px;
}

.site-title {
    text-align: center;
}

.burger-menu {
    width: 2rem;
    height: 2rem;
    position: fixed;
    left: 1rem;
    top: 0.6rem;
    cursor: pointer;
    z-index: 1;
}

.menu {
    position: fixed;
    left: 1.2rem;
    width: 10vw;
    height: 4.2rem;
    transition: all 0.2s ease-in-out;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0;
    z-index: 0;
}

.close-menu {
    font-size: 1.5rem;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
}

.menu li {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.open {
    left: 3.5rem;
    opacity: 100;
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: end;
}

nav a {
    text-decoration: none;
    color: black;
}

/* HOMEPAGE  */

.wrapper {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 80vw;
    align-items: center;
}

.hero-section h1 {
    margin: 0 !important;
}

.hero-section > .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    width: 40rem;
    height: 10rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  29px 29px 58px #cfcfcf,
                -29px -29px 58px #ffffff;
}

.hero-img {
    width: 24rem !important;
    height: 25rem !important;
    object-fit: cover;
    align-self: flex-end;
    margin: 0 0 0 5rem !important;
}

.hero-section .hero-btn {
    width: 6rem !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 1rem;
}

.hero-btn {
    width: 9rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;
}

.hero-btn > a {
    color: white;
}

.hero-btn > a:hover {
    color: darkslategray;
}

.hero-btn:hover {
    background-color: white;
    color: darkslategray;
    transform: scaleX(1.1);
    border: solid 1px darkslategray;
}

.wrapper img {
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
} 

/* PRODUCTS LIST */

.product-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.8rem;
    row-gap: 2.3rem;
}

.product-list h2:last-of-type {
    font-size: 1.1rem;
    height: 3rem;
}

.product-list h2 {
    font-size: 1.1rem;
    height: 5rem;
}


.product-list h3 {
    font-size: 1rem;
}

.product-list li {
    padding: 1rem;
}


button a {
    color: white;
    text-decoration: none;
}

/* SIGNUP FORM  */

form {
    display: flex;
    flex-direction: column;
}

form input, textarea {
    width: 15rem;
    height: 2rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 6px;
    border: solid 1px gray;
}

textarea {
    height: 8rem;
    padding-top: 0.5rem !important;
}

input[type="submit"] {
    width: 15rem;
    height: 2rem;
    background-color: darkslategrey;
    color: white;
    border: solid 1px darkslategrey;
    width: 16rem;
}

button {
    background-color: darkslategrey;
    color: white;
    height: 2rem;
    border-radius: 6px;
    border: solid 1px darkslategrey;
}

.signup-form, .login-form, .contact-form {
    margin-top: 2rem;
}

/* PROFILE PAGE */


.profile-card img {
    width: 8.5rem !important;
    height: 9rem !important;
    border-radius: 100%;
}

.profile-card {
    width: 50rem;
    height: 27rem;
    margin: auto;
    display: flex;
    -webkit-box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    -moz-box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    border-radius: 20px;
}

.profile-card section {
    display: flex;
}

.profile-card > .left {
    background: linear-gradient(90deg, darkslategrey 0%, darkgray 100%);
    width: 15rem;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.right {
    width: 35rem;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.right div {
    width: 17.5rem;
}

.email, .phone {
    display: block;
}

/* FOOTER */

footer a, footer p {
    color: gray;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
}

footer a {
    margin-right: 0.5rem;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0.3rem;
}