/* FONTS  */

@font-face {
    font-family: RedHat;
    src: url(../../assets/fonts/RedHatDisplay-VariableFont_wght.ttf);
}

/* MAIN STYLE */

body {
    color: black;
    margin: 0;
    font-family: RedHat;
}

.error {
    text-align: center;
    color: red;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

/* NAVBAR */

nav {
    position: fixed;
    width: 100vw;
    /* GLASS CSS */
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}


/* HOMEPAGE  */

.wrapper {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* .wrapper {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper h1 {
    margin: 0;
    text-align: center;
} */

.wrapper img {
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
} 

/* PRODUCTS LIST */

.product-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 2rem;
}

button a {
    color: white;
    text-decoration: none;
}

/* SIGNUP FORM  */

form {
    display: flex;
    flex-direction: column;
}

form input, textarea {
    width: 15rem;
    height: 2rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 6px;
    border: solid 1px gray;
}

textarea {
    height: 8rem;
}

input[type="submit"] {
    width: 15rem;
    height: 2rem;
    background-color: darkslategrey;
    color: white;
    border: solid 1px darkslategrey;
    width: 16rem;
}

button {
    background-color: darkslategrey;
    color: white;
    height: 2rem;
    border-radius: 6px;
    border: solid 1px darkslategrey;
}

.signup-form, .login-form, .contact-form {
    margin-top: 2rem;
}

/* PROFILE PAGE */

.profile-avatar {
    width: 7rem !important;
    height: 8rem !important;
    border-radius: 100%;
}

