body {
    background: linear-gradient(darkorange, darkred);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color : white;
}

h1 {
    color: white;
    text-shadow:0px 1px 0px black;
    margin-bottom: 2rem;
}

.container {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 8rem
}

input {
    width: 10rem;
    padding: 0.3rem 0.5rem;
}

button {
    padding: 0.3rem 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    width: 12rem;
    border: solid 1px gray;
    background-color: darkred;
    padding: 0.3rem 0.5rem;
    position: relative;
}

.delete {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white; 
    border: none;
}

.checked {
    text-decoration: line-through;
    opacity: 50%;
}

input[type="checkbox"] {
    position: absolute;
    width: 1rem;
    right: 2rem;
}

